Myroslava Sánchez Andrade A01730712

# Extract

### Imports

In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Function that creates a report of the DataFrame (overview, variables, quantile statistics, descriptive statistics, correlations, missing values)
from dataprep.eda import create_report

## Get data
https://www.kaggle.com/datasets/shivam2503/diamonds

In [5]:
# Determining the types of each column
types = {
  'carat': float,
  'cut': str,
  'color': str,
  'clarity': str,
  'depth': float,
  'table': float,
  'price': float,
  'x': float,
  'y': float,
  'z': float
}
# Storing the DF in the variable diamonds
diamonds = pd.read_csv("diamonds.csv", dtype = types)

## Verify structure and content

In [6]:
# Creation of the DF report
report = create_report(diamonds, title = 'Diamonds reports')

  0%|          | 0/1839 [00:00<?, ?it/s]

c:\Users\myros\anaconda3\envs\Statistics\lib\site-packages\dask\core.py:119: RuntimeWarning: invalid value encountered in divide
  return func(*(_execute_task(a, cache) for a in args))

In [7]:
# Showing the report in the browser (html)
report.show_browser()

In [8]:
# Validating the information of each column => There are no null values in the whole DF
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    53940 non-null  int64
 1   carat    53940 non-null  float64
 2   cut      53940 non-null  object
 3   color    53940 non-null  object
 4   clarity  53940 non-null  object
 5   depth    53940 non-null  float64
 6   table    53940 non-null  float64
 7   price    53940 non-null  float64
 8   x        53940 non-null  float64
 9   y        53940 non-null  float64
 10  z        53940 non-null  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 4.5+ MB

In [9]:
# Visualazing the values of the instances of the DF
diamonds

,index,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326.0,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326.0,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327.0,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334.0,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335.0,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757.0,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757.0,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757.0,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757.0,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757.0,5.83,5.87,3.64

In [10]:
# Visualizing the descriptive statistics of the DF
diamonds.describe()

,index,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [12]:
# After analyzing and verifying the content of the DF, the variables x, y, z and carat have a correlation > 0.94, which allows use to eliminate 3 and stay with 1. I decided to stay with the carat variable and dropped the others.
diamonds = diamonds.drop(columns = ["index", "x", "y", "z"])

# Transform

In [13]:
# Transformation of percentages values => Reduction of the scale of percentage values from 0-100 to 0-1
def percentages_standardization(df):
    return df / 100

diamonds["depth"] = percentages_standardization(diamonds["depth"])
diamonds["table"] = percentages_standardization(diamonds["table"])
diamonds.describe()

              carat         depth         table         price
count  53940.000000  53940.000000  53940.000000  53940.000000
mean       0.797940      0.617494      0.574572   3932.799722
std        0.474011      0.014326      0.022345   3989.439738
min        0.200000      0.430000      0.430000    326.000000
25%        0.400000      0.610000      0.560000    950.000000
50%        0.700000      0.618000      0.570000   2401.000000
75%        1.040000      0.625000      0.590000   5324.250000
max        5.010000      0.790000      0.950000  18823.000000

In [14]:
# Standardize dimensions (x, y, z) => Since the columns were dropped the function was never used
def dimensions_standardize(df, max_val):
    return df / max_val

# max_val = diamonds[["x", "y", "z"]].max().max()
# diamonds[["x", "y", "z"]] = dimensions_standardize(diamonds[["x", "y", "z"]], max_val)

In [15]:
# Function that creates a new column for each category of a categorical variable
# The function was never used since the categories could be converted to numerical values
def one_hot_encoder(df, orig_column):
  new_columns = df[orig_column].unique()
  for name in new_columns:
    df[f'{orig_column}_{name}'] = (df[orig_column] == name).astype(int)
  df = df.drop(columns=[orig_column])
  return df

# diamonds = one_hot_encoder(diamonds, 'cut')
# diamonds = one_hot_encoder(diamonds, 'color')
# diamonds = one_hot_encoder(diamonds, 'clarity')

In [16]:
# Function that converts categorical variables to numerical variables
# This functon can only be used when the categories can be represented with numerical values => worst-best
def cat_to_scale(df, orig_column, scale):
  scale_dict = {}
  for i in range(len(scale)):
    scale_dict[scale[i]] = i / (len(scale) - 1)
  
  return df.replace({orig_column: scale_dict})

# Variables which categories go from worst to best
diamonds = cat_to_scale(diamonds, 'cut', ['Fair', 'Good', 'Very Good', 'Premium', 'Ideal'])
diamonds = cat_to_scale(diamonds, 'color', ['J', 'I', 'H', 'G', 'F', 'E', 'D'])
diamonds = cat_to_scale(diamonds, 'clarity', ['I1', 'SI2', 'SI1', 'VS2', 'VS1', "VVS2", "VVS1", "IF"])

In [17]:
# Visualazing the DF after transformation
diamonds

       carat   cut     color   clarity  depth  table   price
0       0.23  1.00  0.833333  0.142857  0.615   0.55   326.0
1       0.21  0.75  0.833333  0.285714  0.598   0.61   326.0
2       0.23  0.25  0.833333  0.571429  0.569   0.65   327.0
3       0.29  0.75  0.166667  0.428571  0.624   0.58   334.0
4       0.31  0.25  0.000000  0.142857  0.633   0.58   335.0
...      ...   ...       ...       ...    ...    ...     ...
53935   0.72  1.00  1.000000  0.285714  0.608   0.57  2757.0
53936   0.72  0.25  1.000000  0.285714  0.631   0.55  2757.0
53937   0.70  0.50  1.000000  0.285714  0.628   0.60  2757.0
53938   0.86  0.75  0.333333  0.142857  0.610   0.58  2757.0
53939   0.75  1.00  1.000000  0.142857  0.622   0.55  2757.0

[53940 rows x 7 columns]

# Load

In [18]:
# Creating a new csv with which we will work
diamonds.to_csv("clean_diamonds.csv")

# Model (linear regression)

In [3]:
# Redefining our DF to store the clean data
diamonds = pd.read_csv("clean_diamonds.csv")

In [4]:
max_y_value = diamonds[["price"]].max()

# Df of the variables (inputs)
x = diamonds[["carat", "cut", "color", "clarity", "depth", "table"]]

# Df of the output => We standarize it to be in range 0-1
y = diamonds[["price"]] / max_y_value

print(x, y)

       carat   cut     color   clarity  depth  table
0       0.23  1.00  0.833333  0.142857  0.615   0.55
1       0.21  0.75  0.833333  0.285714  0.598   0.61
2       0.23  0.25  0.833333  0.571429  0.569   0.65
3       0.29  0.75  0.166667  0.428571  0.624   0.58
4       0.31  0.25  0.000000  0.142857  0.633   0.58
...      ...   ...       ...       ...    ...    ...
53935   0.72  1.00  1.000000  0.285714  0.608   0.57
53936   0.72  0.25  1.000000  0.285714  0.631   0.55
53937   0.70  0.50  1.000000  0.285714  0.628   0.60
53938   0.86  0.75  0.333333  0.142857  0.610   0.58
53939   0.75  1.00  1.000000  0.142857  0.622   0.55

[53940 rows x 6 columns]           price
0      0.017319
1      0.017319
2      0.017372
3      0.017744
4      0.017797
...         ...
53935  0.146470
53936  0.146470
53937  0.146470
53938  0.146470
53939  0.146470

[53940 rows x 1 columns]

In [26]:
cut = int((0.80 * y.count())[0])
# Since the values of the DF were accommodated in descendent order I generated a sample random to train with diverse types of diamonds 
data = x.copy()
data['actual_value'] = y
data = data.sample(frac=1).reset_index(drop=True)
y_sample = data[['actual_value']]
x_sample = data.drop(columns = ['actual_value'])

# Dividing the dfs for the training (80%) and the test(20%)
x_train, x_test = x_sample[0:cut], x_sample[cut:].reset_index(drop = True)
y_train, y_test = y_sample[0:cut], y_sample[cut:].reset_index(drop = True)

In [27]:
x_train, y_train

(       carat   cut     color   clarity  depth  table
 0       1.89  0.75  0.500000  0.142857  0.629   0.58
 1       1.51  0.50  0.333333  0.142857  0.608   0.58
 2       0.90  0.50  0.666667  0.285714  0.580   0.63
 3       0.35  0.75  0.500000  0.571429  0.615   0.58
 4       0.70  0.50  0.666667  0.142857  0.632   0.59
 ...      ...   ...       ...       ...    ...    ...
 43147   1.12  0.75  0.333333  0.142857  0.610   0.56
 43148   1.01  1.00  0.666667  0.714286  0.596   0.60
 43149   0.48  0.75  0.666667  0.285714  0.606   0.62
 43150   0.71  1.00  0.500000  0.857143  0.621   0.56
 43151   0.41  1.00  1.000000  0.285714  0.618   0.56

 [43152 rows x 6 columns],
        actual_value
 0          0.534187
 1          0.410296
 2          0.235616
 3          0.048133
 4          0.095203
 ...             ...
 43147      0.216597
 43148      0.480264
 43149      0.058970
 43150      0.168252
 43151      0.059608

 [43152 rows x 1 columns])

In [8]:
# Function that creates random values between -1 and 1 for the weights of the variables and the bias
def init_random_values():
    # Each variable will have a weight
    weights = pd.DataFrame(np.random.random(size = (1, 6))) * 2 - 1
    bias = pd.DataFrame(np.random.random(size = (1, ))) * 2 - 1
    return weights, bias

In [9]:
# Function that makes the prediction given the inputs (DF), the weights and the bias
def get_y_prediction(x, weights,  bias):
    return  ((x.values * weights.values).sum(axis = 1) + bias.values).T

In [10]:
# Total cost function => MSE
def cost(y_pred, y):
    return ((y_pred - y) ** 2).mean()[0]

In [11]:
# Calculating the avg weights slope => derivative of the cost with respect to the weights
def weights_slope(y_pred, y, weights):
    return ((y_pred - y).values * weights.values).mean(axis = 0)

In [12]:
# Calculating the avg bias slope => cost derivative with respect to the bias
def bias_slope(y_pred, y):
    return (y_pred - y).mean()

In [13]:
# Gradient descent function
def gradient_descent(y, x, lr, weights, bias):
    # Prediction of our model
    y_pred = get_y_prediction(x, weights, bias)
    # Slopes of the weights
    weights_delta = weights_slope(y_pred, y, weights)
    # Slope of the bias
    bias_delta = bias_slope(y_pred, y)
    # New weights
    weights = weights - lr * weights_delta
    # New bias
    bias = bias - lr * bias_delta.values
    return weights, bias

In [135]:
# Training
def train(y, x, lr, weights, bias, epochs):
    # Defining a local_error to replace the weights and the bias only if the error is less than the older iteration
    local_error = np.inf
    # Reducing our model error by redefining the weights and the bias each epoch
    for i in range(epochs):
        weights_local, bias_local = gradient_descent(y, x, lr, weights, bias)
        # Calculating the new error
        error = cost(get_y_prediction(x, weights, bias), y)
        # print(error)
        if np.isnan(error) or np.isinf(error) or error < 0.0001 : 
            break
        if error < local_error:
            local_error = error
        else:
            print(i)
            break
        weights, bias = weights_local, bias_local
    return weights, bias

In [140]:
# Defining the learning rate and epochs
learning_rate = 0.05
epochs = 1000

In [148]:
# Creating the random values for the weights and the bias
min_weights, min_bias = init_random_values()
min_cost = cost(get_y_prediction(x_test, min_weights, min_bias), y_test)

weights, bias = min_weights, min_bias

In [149]:
# Defining the maximum error we accept and the max number of iterations
error_max = 0.008
max_it = 500
i = 0
# Calculating the values of the weights and the bias (with the training model), until the error is less than 0.8% and has reached the max iterations
while (curr_cost := cost(get_y_prediction(x_train, weights, bias), y_train)) > error_max and i < max_it:
    # Reasigning random values for the weights and the bias
    weights, bias = init_random_values()
    i+=1
    # Setting the new values of the "betas" after training
    weights, bias = train(y_train, x_train, learning_rate, weights, bias, epochs)
    # If the error is smaller than the last's iteration, we update our minimum variables
    if curr_cost < min_cost:
        min_weights = weights
        min_bias = bias
        min_cost = curr_cost
    print(min_cost)


if min_cost > curr_cost:
    min_cost = curr_cost
    
# Weights and values after training
print(min_weights, min_bias)
print(min_cost)

Iter 1
88
0.042676090600985525
Iter 2
327
0.02991191389058672
Iter 3
22
0.027006993130630184
Iter 4
316
0.027006993130630184
Iter 5
421
0.027006993130630184
Iter 6
7
0.027006993130630184
Iter 7
545
0.027006993130630184
Iter 8
1
0.027006993130630184
Iter 9
1
0.027006993130630184
Iter 10
8
0.027006993130630184
Iter 11
8
0.027006993130630184
Iter 12
251
0.027006993130630184
Iter 13
1
0.027006993130630184
Iter 14
68
0.027006993130630184
Iter 15
11
0.015123285675718292
Iter 16
46
0.015123285675718292
Iter 17
1
0.015123285675718292
Iter 18
400
0.015123285675718292
Iter 19
274
0.015123285675718292
Iter 20
12
0.015123285675718292
Iter 21
824
0.015123285675718292
Iter 22
1
0.015123285675718292
Iter 23
734
0.015123285675718292
Iter 24
133
0.015123285675718292
Iter 25
1
0.015123285675718292
Iter 26
424
0.015123285675718292
Iter 27
22
0.015123285675718292
Iter 28
1
0.015123285675718292
Iter 29
1
0.015123285675718292
Iter 30
642
0.015123285675718292
Iter 31
478
0.015123285675718292
Iter 32
1
0.015123285675718292
Iter 33
408
0.015123285675718292
Iter 34
349
0.015123285675718292
Iter 35
32
0.015123285675718292
Iter 36
8
0.015123285675718292
Iter 37
287
0.015123285675718292
Iter 38
1
0.015123285675718292
Iter 39
86
0.015123285675718292
Iter 40
26
0.015123285675718292
Iter 41
455
0.015123285675718292
Iter 42
1
0.015123285675718292
Iter 43
1
0.015123285675718292
Iter 44
5
0.015123285675718292
Iter 45
387
0.015123285675718292
Iter 46
17
0.015123285675718292
Iter 47
8
0.015123285675718292
Iter 48
1
0.015123285675718292
Iter 49
1
0.015123285675718292
Iter 50
8
0.015123285675718292
Iter 51
1
0.015123285675718292
Iter 52
529
0.015123285675718292
Iter 53
18
0.015123285675718292
Iter 54
7
0.015123285675718292
Iter 55
2
0.015123285675718292
Iter 56
25
0.015123285675718292
Iter 57
1
0.015123285675718292
Iter 58
11
0.015123285675718292
Iter 59
5
0.015123285675718292
Iter 60
740
0.015123285675718292
Iter 61
10
0.015123285675718292
Iter 62
466
0.015123285675718292
Iter 63
1
0.015123285675718292
Iter 64
4
0.015123285675718292
Iter 65
1
0.015123285675718292
Iter 66
11
0.015123285675718292
Iter 67
492
0.015123285675718292
Iter 68
1
0.015123285675718292
Iter 69
403
0.015123285675718292
Iter 70
1
0.015123285675718292
Iter 71
9
0.015123285675718292
Iter 72
454
0.015123285675718292
Iter 73
1
0.015123285675718292
Iter 74
416
0.015123285675718292
Iter 75
562
0.015123285675718292
Iter 76
495
0.015123285675718292
Iter 77
4
0.015123285675718292
Iter 78
10
0.015123285675718292
Iter 79
14
0.015123285675718292
Iter 80
1
0.015123285675718292
Iter 81
20
0.015123285675718292
Iter 82
34
0.015123285675718292
Iter 83
413
0.015123285675718292
Iter 84
37
0.015123285675718292
Iter 85
10
0.015123285675718292
Iter 86
1
0.015123285675718292
Iter 87
525
0.015123285675718292
Iter 88
23
0.015123285675718292
Iter 89
14
0.015123285675718292
Iter 90
1
0.015123285675718292
Iter 91
411
0.015123285675718292
Iter 92
2
0.015123285675718292
Iter 93
1
0.015123285675718292
Iter 94
310
0.015123285675718292
Iter 95
1
0.015123285675718292
Iter 96
1
0.015123285675718292
Iter 97
6
0.015123285675718292
Iter 98
19
0.015123285675718292
Iter 99
291
0.015123285675718292
Iter 100
34
0.015123285675718292
Iter 101
5
0.015123285675718292
Iter 102
376
0.015123285675718292
Iter 103
11
0.015123285675718292
Iter 104
641
0.015123285675718292
Iter 105
466
0.015123285675718292
Iter 106
39
0.015123285675718292
Iter 107
381
0.015123285675718292
Iter 108
1
0.015123285675718292
Iter 109
1
0.015123285675718292
Iter 110
15
0.015123285675718292
Iter 111
2
0.015123285675718292
Iter 112
9
0.015123285675718292
Iter 113
1
0.015123285675718292
Iter 114
1
0.015123285675718292
Iter 115
21
0.015123285675718292
Iter 116
597
0.015123285675718292
Iter 117
3
0.015123285675718292
Iter 118
4
0.015123285675718292
Iter 119
1
0.015123285675718292
Iter 120
361
0.015123285675718292
Iter 121
0.015123285675718292
Iter 122
1
0.015123285675718292
Iter 123
23
0.015123285675718292
Iter 124
1
0.015123285675718292
Iter 125
1
0.015123285675718292
Iter 126
301
0.015123285675718292
Iter 127
10
0.015123285675718292
Iter 128
743
0.015123285675718292
Iter 129
525
0.015123285675718292
Iter 130
3
0.015123285675718292
Iter 131
382
0.015123285675718292
Iter 132
18
0.015123285675718292
Iter 133
326
0.015123285675718292
Iter 134
6
0.015123285675718292
Iter 135
682
0.015123285675718292
Iter 136
1
0.015123285675718292
Iter 137
662
0.015123285675718292
Iter 138
1
0.015123285675718292
Iter 139
514
0.015123285675718292
Iter 140
92
0.015123285675718292
Iter 141
333
0.015123285675718292
Iter 142
20
0.015123285675718292
Iter 143
6
0.015123285675718292
Iter 144
1
0.015123285675718292
Iter 145
1
0.015123285675718292
Iter 146
1
0.015123285675718292
Iter 147
302
0.015123285675718292
Iter 148
1
0.015123285675718292
Iter 149
321
0.015123285675718292
Iter 150
5
0.015123285675718292
Iter 151
482
0.015123285675718292
Iter 152
621
0.015123285675718292
Iter 153
270
0.015123285675718292
Iter 154
20
0.015123285675718292
Iter 155
90
0.015123285675718292
Iter 156
6
0.015123285675718292
Iter 157
303
0.015123285675718292
Iter 158
12
0.015123285675718292
Iter 159
28
0.015123285675718292
Iter 160
1
0.015123285675718292
Iter 161
13
0.015123285675718292
Iter 162
30
0.015123285675718292
Iter 163
1
0.015123285675718292
Iter 164
463
0.015123285675718292
Iter 165
343
0.015123285675718292
Iter 166
4
0.015123285675718292
Iter 167
9
0.015123285675718292
Iter 168
12
0.015123285675718292
Iter 169
113
0.015123285675718292
Iter 170
1
0.015123285675718292
Iter 171
824
0.015123285675718292
Iter 172
16
0.015123285675718292
Iter 173
84
0.015123285675718292
Iter 174
419
0.015123285675718292
Iter 175
528
0.015123285675718292
Iter 176
17
0.015123285675718292
Iter 177
2
0.015123285675718292
Iter 178
301
0.015123285675718292
Iter 179
2
0.015123285675718292
Iter 180
734
0.015123285675718292
Iter 181
459
0.015123285675718292
Iter 182
1
0.015123285675718292
Iter 183
63
0.015123285675718292
Iter 184
12
0.014690459085172664
Iter 185
19
0.014690459085172664
Iter 186
17
0.014690459085172664
Iter 187
17
0.014690459085172664
Iter 188
749
0.014690459085172664
Iter 189
23
0.014690459085172664
Iter 190
385
0.014690459085172664
Iter 191
299
0.014690459085172664
Iter 192
10
0.012282446526658476
Iter 193
600
0.012282446526658476
Iter 194
6
0.012282446526658476
Iter 195
2
0.012282446526658476
Iter 196
1
0.012282446526658476
Iter 197
1
0.012282446526658476
Iter 198
433
0.012282446526658476
Iter 199
3
0.012282446526658476
Iter 200
456
0.012282446526658476
Iter 201
621
0.012282446526658476
Iter 202
14
0.012282446526658476
Iter 203
5
0.012282446526658476
Iter 204
414
0.012282446526658476
Iter 205
259
0.012282446526658476
Iter 206
1
0.012282446526658476
Iter 207
488
0.012282446526658476
Iter 208
1
0.012282446526658476
Iter 209
1
0.012282446526658476
Iter 210
704
0.012282446526658476
Iter 211
1
0.012282446526658476
Iter 212
1
0.012282446526658476
Iter 213
27
0.012282446526658476
Iter 214
604
0.012282446526658476
Iter 215
21
0.012282446526658476
Iter 216
634
0.012282446526658476
Iter 217
1
0.012282446526658476
Iter 218
1
0.012282446526658476
Iter 219
284
0.012282446526658476
Iter 220
4
0.012282446526658476
Iter 221
443
0.012282446526658476
Iter 222
71
0.012282446526658476
Iter 223
1
0.012282446526658476
Iter 224
0.012282446526658476
Iter 225
5
0.012282446526658476
Iter 226
469
0.012282446526658476
Iter 227
5
0.012282446526658476
Iter 228
486
0.012282446526658476
Iter 229
453
0.012282446526658476
Iter 230
26
0.012282446526658476
Iter 231
470
0.012282446526658476
Iter 232
1
0.012282446526658476
Iter 233
9
0.012282446526658476
Iter 234
376
0.012282446526658476
Iter 235
8
0.012282446526658476
Iter 236
13
0.012282446526658476
Iter 237
18
0.012282446526658476
Iter 238
1
0.012282446526658476
Iter 239
11
0.012282446526658476
Iter 240
1
0.012282446526658476
Iter 241
607
0.012282446526658476
Iter 242
1
0.012282446526658476
Iter 243
8
0.012282446526658476
Iter 244
1
0.012282446526658476
Iter 245
1
0.012282446526658476
Iter 246
1
0.012282446526658476
Iter 247
6
0.012282446526658476
Iter 248
378
0.012282446526658476
Iter 249
10
0.012282446526658476
Iter 250
197
0.012282446526658476
Iter 251
29
0.012282446526658476
Iter 252
16
0.012282446526658476
Iter 253
313
0.012282446526658476
Iter 254
1
0.012282446526658476
Iter 255
11
0.012282446526658476
Iter 256
106
0.012282446526658476
Iter 257
1
0.012282446526658476
Iter 258
1
0.012282446526658476
Iter 259
337
0.012282446526658476
Iter 260
529
0.012282446526658476
Iter 261
1
0.012282446526658476
Iter 262
6
0.012282446526658476
Iter 263
1
0.012282446526658476
Iter 264
585
0.012282446526658476
Iter 265
7
0.012282446526658476
Iter 266
495
0.012282446526658476
Iter 267
39
0.012282446526658476
Iter 268
76
0.012282446526658476
Iter 269
635
0.012282446526658476
Iter 270
84
0.012282446526658476
Iter 271
12
0.011761055495066843
Iter 272
348
0.011761055495066843
Iter 273
5
0.011761055495066843
Iter 274
3
0.011761055495066843
Iter 275
1
0.011761055495066843
Iter 276
300
0.011761055495066843
Iter 277
67
0.011761055495066843
Iter 278
360
0.011761055495066843
Iter 279
332
0.011761055495066843
Iter 280
865
0.011761055495066843
Iter 281
8
0.011761055495066843
Iter 282
383
0.011761055495066843
Iter 283
333
0.011761055495066843
Iter 284
7
0.011761055495066843
Iter 285
461
0.011761055495066843
Iter 286
1
0.011761055495066843
Iter 287
734
0.011761055495066843
Iter 288
1
0.011761055495066843
Iter 289
333
0.011761055495066843
Iter 290
6
0.011761055495066843
Iter 291
2
0.011761055495066843
Iter 292
430
0.011761055495066843
Iter 293
5
0.011761055495066843
Iter 294
437
0.011761055495066843
Iter 295
615
0.011761055495066843
Iter 296
9
0.011761055495066843
Iter 297
390
0.011761055495066843
Iter 298
406
0.011761055495066843
Iter 299
1
0.011761055495066843
Iter 300
461
0.011761055495066843
Iter 301
27
0.011761055495066843
Iter 302
1
0.011761055495066843
Iter 303
1
0.011761055495066843
Iter 304
1
0.011761055495066843
Iter 305
1
0.011761055495066843
Iter 306
90
0.011761055495066843
Iter 307
0.011761055495066843
Iter 308
15
0.011761055495066843
Iter 309
333
0.011761055495066843
Iter 310
8
0.011761055495066843
Iter 311
402
0.011761055495066843
Iter 312
312
0.011761055495066843
Iter 313
426
0.011761055495066843
Iter 314
20
0.011761055495066843
Iter 315
2
0.011761055495066843
Iter 316
472
0.011761055495066843
Iter 317
505
0.011761055495066843
Iter 318
552
0.011761055495066843
Iter 319
3
0.011761055495066843
Iter 320
468
0.011761055495066843
Iter 321
0.011761055495066843
Iter 322
391
0.011761055495066843
Iter 323
4
0.011761055495066843
Iter 324
964
0.011761055495066843
Iter 325
557
0.011761055495066843
Iter 326
482
0.011761055495066843
Iter 327
637
0.011761055495066843
Iter 328
4
0.011761055495066843
Iter 329
30
0.011761055495066843
Iter 330
13
0.011761055495066843
Iter 331
289
0.011761055495066843
Iter 332
9
0.011761055495066843
Iter 333
366
0.011761055495066843
Iter 334
1
0.011761055495066843
Iter 335
3
0.011761055495066843
Iter 336
9
0.011761055495066843
Iter 337
12
0.011761055495066843
Iter 338
1
0.011761055495066843
Iter 339
101
0.011761055495066843
Iter 340
97
0.011761055495066843
Iter 341
1
0.011761055495066843
Iter 342
17
0.011761055495066843
Iter 343
15
0.011761055495066843
Iter 344
10
0.011761055495066843
Iter 345
1
0.011761055495066843
Iter 346
363
0.011761055495066843
Iter 347
1
0.011761055495066843
Iter 348
1
0.011761055495066843
Iter 349
775
0.011761055495066843
Iter 350
761
0.011761055495066843
Iter 351
1
0.011761055495066843
Iter 352
493
0.011761055495066843
Iter 353
419
0.011761055495066843
Iter 354
1
0.011761055495066843
Iter 355
508
0.011761055495066843
Iter 356
1
0.011761055495066843
Iter 357
16
0.011761055495066843
Iter 358
19
0.011761055495066843
Iter 359
1
0.011761055495066843
Iter 360
1
0.011761055495066843
Iter 361
14
0.011761055495066843
Iter 362
95
0.011761055495066843
Iter 363
5
0.011761055495066843
Iter 364
486
0.011761055495066843
Iter 365
1
0.011761055495066843
Iter 366
548
0.011761055495066843
Iter 367
1
0.011761055495066843
Iter 368
1
0.011761055495066843
Iter 369
1
0.011761055495066843
Iter 370
297
0.011761055495066843
Iter 371
361
0.011761055495066843
Iter 372
28
0.011761055495066843
Iter 373
1
0.011761055495066843
Iter 374
118
0.011761055495066843
Iter 375
13
0.011761055495066843
Iter 376
10
0.011761055495066843
Iter 377
12
0.011761055495066843
Iter 378
23
0.011761055495066843
Iter 379
1
0.011761055495066843
Iter 380
9
0.011761055495066843
Iter 381
378
0.011761055495066843
Iter 382
1
0.011761055495066843
Iter 383
1
0.011761055495066843
Iter 384
88
0.011761055495066843
Iter 385
408
0.011761055495066843
Iter 386
1
0.011761055495066843
Iter 387
17
0.011761055495066843
Iter 388
420
0.011761055495066843
Iter 389
132
0.011761055495066843
Iter 390
1
0.011761055495066843
Iter 391
32
0.011761055495066843
Iter 392
34
0.011761055495066843
Iter 393
27
0.011761055495066843
Iter 394
2
0.011761055495066843
Iter 395
364
0.011761055495066843
Iter 396
19
0.011761055495066843
Iter 397
85
0.011761055495066843
Iter 398
7
0.011761055495066843
Iter 399
326
0.011761055495066843
Iter 400
611
0.011761055495066843
Iter 401
506
0.011761055495066843
Iter 402
1
0.011761055495066843
Iter 403
412
0.011761055495066843
Iter 404
399
0.011761055495066843
Iter 405
1
0.011761055495066843
Iter 406
1
0.011761055495066843
Iter 407
574
0.011761055495066843
Iter 408
65
0.011761055495066843
Iter 409
1
0.011761055495066843
Iter 410
27
0.011761055495066843
Iter 411
515
0.011761055495066843
Iter 412
1
0.011761055495066843
Iter 413
421
0.011761055495066843
Iter 414
29
0.011761055495066843
Iter 415
73
0.011761055495066843
Iter 416
18
0.011761055495066843
Iter 417
10
0.011761055495066843
Iter 418
81
0.011761055495066843
Iter 419
577
0.011761055495066843
Iter 420
87
0.011761055495066843
          0         1         2         3         4         5
0 -0.535316  0.356437  0.100301 -0.389533 -0.932145 -0.051311           0
0  0.416487
0.006303862984643368

In [ ]:
# weights
#           0         1         2         3         4         5
# 0  0.427435  0.096127  0.071756  0.289819  0.124834 -0.404308
# bias
# 0  0.416487
# cost
# 0.006303862984643368

# Results

In [150]:
predicted_y = get_y_prediction(x_test, weights, bias)
total_cost = cost(predicted_y, y_test)

In [151]:
print(f"Cost of the model: {total_cost}")
results = y_test
results["predicted value"] = predicted_y

results

Cost of the model: 0.0062500203098632455

       actual_value  predicted price
0          0.263879         0.236957
1          0.817829         0.819882
2          0.051905         0.147240
3          0.053498         0.051286
4          0.178611         0.210952
...             ...              ...
10783      0.375020         0.422990
10784      0.824151         0.566798
10785      0.812995         0.621558
10786      0.047229         0.072826
10787      0.076290         0.057437

[10788 rows x 2 columns]

In [152]:
results = results * max_y_value[0]
results

       actual_value  predicted price
0            4967.0      4460.240094
1           15394.0     15432.642177
2             977.0      2771.498449
3            1007.0       965.352794
4            3362.0      3970.751934
...             ...              ...
10783        7059.0      7961.949274
10784       15513.0     10668.842365
10785       15303.0     11699.594433
10786         889.0      1370.803933
10787        1436.0      1081.137305

[10788 rows x 2 columns]